header {
    position: fixed;
    z-index: 999;
    top:0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 140px;
    margin: 0 auto;
    background: transparent;
    transition: all ease .4s;
}
header.black {
    background-color: #141414;
}
.header--logo {
    height: 60px;
    width: 100%;
}
.header--logo a {
    margin-right: 40px;
}
.header--logo img {
    height: 100%;
}
.header--user {
    display: flex;
    height: 45px;
    width: auto;
}
.header--user img {
    height: 100%;
    border-radius: 3px;
}

.header--user img:nth-child(2) {
    margin-left: 25px;
}

a:nth-child(2) {
    color: var(--color-primary-light);
    transition: all ease .3s;
}

a:nth-child(3) {
    color: var(--color-primary-light);
    transition: all ease .3s;
}
a:hover {
    color: var(--color-cards);
}

@media (min-width: 320px) and (max-width: 500px) {
    header {
        padding: 15px 30px;
    }
    .header--user img {
        width: 50px;
    }
    .header--logo a {
        margin-right: 10px;
    }
}
