.banner--container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.banner--details {
    height: 60vh;
}
.banner--gradient {
    width: inherit;
    height: inherit;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}
.banner--contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner--content-image {
    width: 20%;
    margin-top: -6%;
    margin-right: 2%;
}
.banner--content-image img {
    transition: all ease .3s;
    -webkit-box-shadow: 11px 8px 34px -13px rgba(0,0,0,0.68); 
    box-shadow: 11px 8px 34px -13px rgba(0,0,0,0.68);
}
.banner--content-image img:hover {
    -webkit-box-shadow: 11px 8px 34px -13px rgba(255,255,255,0.68); 
    box-shadow: 11px 8px 34px -13px rgba(255,255,255,0.68);
}
.banner--content-texts {
    width: 80%;
    padding: 2% 5% 5% 1%;
}
.banner--content-texts div:first-of-type {
    display: flex;
    align-items: center;
}
.banner--content-texts h1 {
    color: var(--color-primary-white);
    font-weight: bold;
    margin-bottom: -.2%;
    margin-right: 1%;
}
.banner--content-texts h3 {
    color: var(--color-primary-white);
    font-weight: 600;
    margin-top: 1% !important;
}
.serie--overal {
    border: 2px solid var(--color-bg-percent);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-top: 1%;
}
.banner--content-texts span:first-of-type {
    color: var(--color-primary-gray);
}
.banner--content-texts span:first-of-type:hover{
    transition: all ease .3s;
    color: var(--color-primary-white);
}
.column--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.content--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content--center {
    width: 70%;
    background-color: lightcoral;
}






@media screen and (max-width: 1400px) {
    .banner--container {
        padding: 30px;
    }
}